@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["Developer"]</p>

<address>
    <strong>Dúvidas enviar e-mail para: </strong> <a href="mailto:felipe.develop@gmail.com?Subject=Dúvida">felipe.develop@gmail.com</a>
</address>
